.footer-corporate {
  padding-left: 57px;
  padding-right: 10px;
}

.footer-corporate__text {
  margin-top: 27px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 170%;
  color: var(--contrast-type);
  opacity: 0.5;
}
