.main-promo {
  background-image: url("../../img/main-bg@1x.webp");
  background-size: cover;
  background-position: center 0;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/main-bg@2x.webp");
  }

}

.main-promo__wrapper {
  padding-top: 186px;
  min-height: 860px;
  color: var(--invert-type);
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @media (max-width: $desktop-width) {
    align-items: center;
    padding-top: 43px;
    min-height: 344px;
  }
}

.main-promo__heading {
  letter-spacing: -1.11px;
  width: 469px;

  &::after {
    display: none;
  }

  @media (max-width: $desktop-width) {
    letter-spacing: normal;
  }
}

.main-promo__text {
  margin-top: 28px;
  margin-right: 80px;
  max-width: 390px;
  line-height: 170%;

  @media (max-width: $desktop-width) {
    text-align: center;
    margin: 0;
    margin-top: -3px;
    max-width: 430px;
  }
}

.main-promo__button {
  margin-top: 19px;
  margin-right: 130px;
  padding-right: 178px;
  position: relative;

  @media (max-width: $desktop-width) {
    margin: 0;
    margin-top: 10px;
    font-size: 10px;
    font-weight: 500;
    padding-right: 106px;
    padding-top: 20px;
    padding-bottom: 19px;
  }
}

.main-promo__icon-arrow {
  stroke: var(--invert-type);
  position: absolute;
  right: 39px;
  top: 30px;

  @media (max-width: $desktop-width) {
    top: 17px;
  }
}
