:root {
  --main-accent: #fe7865;
  --hover-accent: #f17d4b;
  --basic-type: #2c2e3f;
  --contrast-type: #141517;
  --invert-type: #ffffff;
  --accent-type: var(--main-accent);
  --specific-type: black;
  --clear-background: #ffffff;
  --accent-underline: var(--main-accent);
  --main-underline: var(--basic-type);
  --main-border: rgba(44, 46, 63, 0.3);
  --shadow: rgba(41, 54, 66, 0.1);
  --footer-color: #d7d9df;
}


$desktop-width: 1024px;
$tablet-width: 768px;
$mobile-width-only: 767px;
